
{% load static %}
<!DOCTYPE html>
<html>

<head lang="en">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <style>
        {% load static %}
        
        #full{
            background:rgb(0 0 0 / 30%);
            width:70%;
            height:55%;
            background-position:center;
            
        }
        
        
    </style>
</head>

<body >
    {% load static %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://127.0.0.1:8000/ ">health diet chatbot</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href='/food'>food</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chat">chat-bot</a>
                </li>
                </ul>
            </div>
            <div class="container-fluid  "style="width: 500px;">
                <form class="d-flex  mx-auto" role="search" action='diet'>
                    <label for="exampleFormControlSelect1">select your diet chart</label>
                    <select name="diet"  class="form-control" id="exampleFormControlSelect1">
                        <option value='overweight'>overweight</option>
                        <option value='underweight'>underweight</option>      
                    </select>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            
            </div>
        </div>
      </nav>
<body>