{% load static %}
<br>
<head lang="en">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
</head>
<div id='center'>
    <h1 class="w-80  "style="text-align: center">About Underweight Diet</h1>
    <br><br><br>
    <img class="w-60 rounded mx-auto d-block " src="{% static 'img/under.jpg' %}" >
    <br><br>
    <p class="w-80  text-justify"style="text-align: center">Just like obesity causes health concerns, having less weight than the normal also poses 
    health issues. Being underweight can be result of poor nutrition and should be a matter of concern. 
    If the body does not receive adequate amounts of nutrients, the body fails to function to its utmost. 
    This could result in the imbalance in the metabolism. Inculcating a healthy diet for underweight will 
    provide the necessary nutrients for better functioning of the body.
    </p>
    <p class="w-90  text-justify"style="text-align: center ">To deal with underweight, maintaining a proper nutritious 
        diet is important. We create a weight gain meal plan for 
        underweight, easily followed by both males and females. We try to add food with 
        high-calorie foods for underweight adults. This diet meal plan is used to provide the right 
        nutrients, vitamins, and minerals required by the body. You can easily buy food items 
        listed in the underweight diet meal plan in your local markets.
    </p>
    <br><br><br>
    <ul ><li>Heavy food items that are more in calories.</li>
        <li>Frequent consumption of food items which are rich in nutrients, it could be snacks, shakes or juices, or proper meals.</li>
        <li>Adding extra ingredients that are high in calories to regular diet, for example, including eggs and bananas in morning breakfast, etc., can help in increasing the weight.<li>
        <li>Consume protein supplements along with adequate amount of vegetables and fruits.</li>
        <li>Eating calorie dense food and maintaining a balanced diet will help in gaining the weight.</li>
        <li>However, the diet shouldn’t be started drastically and instead, should be implemented gradually so that the body is accustomed with it.</li>

    </ul>
    <br><br><h1 style="text-align: center ">day plan diet food<br><br>
    <div class="justify-content-center" style=" margin-left:100px;">
        <table class="table table-sm table-hover table-striped table-mx-auto justify-content-lg-center" style="width: 1000px; background-color:#D6EEEE;  ">
            <thead>
                <tr>
                    <th scope="col">day 1</th>
                    <th scope="col">sunday</th>
                
                </tr>
            </thead>
            <tbody>
                <tr class="table"><td>Breakfast (8:00-8:30AM)</td><td>2 egg brown bread sandwich + green chutney + 1 cup milk + 3 cashews + 4 almonds + 2 walnuts</td></tr>
                <tr class="table"><td>Mid-Meal (11:00-11:30AM)</td><td>1 cup banana shake</td></tr>
                <tr class="table"><td>Lunch (2:00-2:30PM)</td><td>1 cup arhar dal + 1 cup potato curry + 3 chapatti + 1/2 cup rice + 1/2 cup low fat curd + salad</td></tr>
                <tr class="table"><td>Evening (4:00-4:30PM)</td><td>1 cup strawberry smoothie + 1 cup vegetable poha</td></tr>
                <tr class="table"><td>Dinner (8:00-8:30PM)</td><td>1.5 cup chicken curry + 3 chapatti + salad</td></tr>
            </tbody>
        </table>
        <br><br><br><br>
        <table class="table table-sm table-hover table-striped table-mx-auto" style="width: 1000px; background-color:#D6EEEE;text-align: center;">
            <thead>
                <tr>
                    <th scope="col">day 2</th>
                    <th scope="col">monday</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table"><td>Breakfast (8:00-8:30AM)</td><td>3 onion stuffed parantha + 1 cup curd + 3 cashews + 4 almonds + 2 walnuts</td></tr>
                <tr class="table"><td>Mid-Meal (11:00-11:30AM)</td><td>1 cup mango shake</td></tr>
                <tr class="table"><td>Lunch (2:00-2:30PM)</td><td>1 cup moong dal/ chicken curry + 1 cup potato and caulifllower vegetable + 3 chapatti + 1/2 cup rice + salad</td></tr>
                <tr class="table"><td>Evening (4:00-4:30PM)</td><td>1 cup pomegranate juice + 2 butter toasted bread</td></tr>
                <tr class="table"><td>Dinner (8:00-8:30PM)</td><td>1 cup beans potato vegetable + 3 chapatti + salad</td></tr>
            </tbody>
        </table>
        <br><br><br><br>
        <table class="table table-sm table-hover table-striped table-mx-auto" style="width: 1000px; background-color:#D6EEEE;text-align: center;">
            <thead>
                <tr>
                    <th scope="col">day 3</th>
                    <th scope="col">tuesday</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table"><td>Breakfast (8:00-8:30AM)</td><td>3 paneer stuffed besan cheela + green chutney + 1 cup curd + 3 cashews + 4 almonds + 2 walnuts</td></tr>
                <tr class="table"><td>Mid-Meal (11:00-11:30AM)</td><td>1 apple smoothie with maple syrup</td></tr>
                <tr class="table"><td>Lunch (2:00-2:30PM)</td><td>1 cup masoor dal + 1 cup calocasia + 3 chapatti + 1/2 cup rice + 1 cup low curd + salad</td></tr>
                <tr class="table"><td>Evening (4:00-4:30PM)</td><td>1 cup tomato soup with bread crumbs + 1 cup aloo chaat</td></tr>
                <tr class="table"><td>Dinner (8:00-8:30PM)</td><td>1 cup carrot peas vegetable +3 chapatti + salad</td></tr>
            </tbody>
        </table>
        <br><br><br><br>
        <table class="table table-sm table-hover table-striped table-mx-auto" style="width: 1000px; background-color:#D6EEEE;text-align: center;">
            <thead>
                <tr>
                    <th scope="col">day 4</th>
                    <th scope="col">wednesday</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table"><td>Breakfast (8:00-8:30AM)</td><td>1.5 cup vegetable bread upma + 1 cup milk + 3 cashews + 4 almonds + 2 walnuts</td></tr>
                <tr class="table"><td>Mid-Meal (11:00-11:30AM)</td><td>1 cup ripe banana with 2 tsp ghee</td></tr>
                <tr class="table"><td>Lunch (2:00-2:30PM)</td><td>1 cup rajma curry + 1 cup spinach potato + 3 chapatti + 1/2 cup rice + salad</td></tr>
                <tr class="table"><td>Evening (4:00-4:30PM)</td><td>1 cup vegetable juice + 1 cup upma</td></tr>
                <tr class="table"><td>Dinner (8:00-8:30PM)</td><td>1.5 cup parwal vegetable + 3 chapatti + salad</td></tr>
            </tbody>
        </table>
        <br><br><br><br>
        <table class="table table-sm table-hover table-striped table-mx-auto" style="width: 1000px; background-color:#D6EEEE;text-align: center;">
            <thead>
                <tr>
                    <th scope="col">day 5</th>
                    <th scope="col">thursday</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table"><td>Breakfast (8:00-8:30AM)</td><td>2 cucmber potato sandwich + 1 tsp green chutney + 1 orange juice + 3 cshews + 2 walnuts + 4 almonds</td></tr>
                <tr class="table"><td>Mid-Meal (11:00-11:30AM)</td><td>1 cup buttermilk + 1 cup sweet potato chaat</td></tr>
                <tr class="table"><td>Lunch (2:00-2:30PM)</td><td>1 cup white chana/ fish curry + 3 chapatti + 1/2 cup rice + salad</td></tr>
                <tr class="table"><td>Evening (4:00-4:30PM)</td><td>1 cup almond milk + banana</td></tr>
                <tr class="table"><td>Dinner (8:00-8:30PM)</td><td>1 cup cauliflower potato vegetable + 3 chapatti + salad</td></tr>
            </tbody>
        </table>
        <br><br><br><br>
        <table class="table table-sm table-hover table-striped table-mx-auto" style="width: 1000px; background-color:#D6EEEE;text-align: center;">
            <thead>
                <tr>
                    <th scope="col">day 6</th>
                    <th scope="col">friday</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table"><td>Breakfast (8:00-8:30AM)</td><td>2 cup vegetable poha + 1 cup curd + 3 cashews + 4 almonds + 2 walnuts</td></tr>
                <tr class="table"><td>Mid-Meal (11:00-11:30AM)</td><td>2 cups watermelon juice</td></tr>
                <tr class="table"><td>Lunch (2:00-2:30PM)</td><td>1 cup chana dal + 1 cup bhindi vegetable + 3 chapatti + 1/2 cup rice + salad</td></tr>
                <tr class="table"><td>Evening (4:00-4:30PM)</td><td>1 cup sprouts salad + 2 potato cheela + green chutney</td></tr>
                <tr class="table"><td>Dinner (8:00-8:30PM)</td><td>1 cup peas mushroom vegetable + 3 chapatti + salad</td></tr>
            </tbody>
        </table>
        <br><br><br><br>
        <table class="table table-sm table-hover table-striped table-mx-auto" style="width: 1000px; background-color:#D6EEEE;text-align: center;">
            <thead>
                <tr>
                    <th scope="col">day 7</th>
                    <th scope="col">saturday</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table"><td>Breakfast (8:00-8:30AM)</td><td>3 vegetable suji cheela + 1 cup strawberry shake + 4 cashews + 4 almonds + 3 walnuts</td></tr>
                <tr class="table"><td>Mid-Meal (11:00-11:30AM)</td><td>1 cup coconut water + 1 cup pomegrate</td></tr>
                <tr class="table"><td>Lunch (2:00-2:30PM)</td><td>1 cup mix dal + 1 cup soybean curry + 3 chapatti + 1/2 cup curd + salad</td></tr>
                <tr class="table"><td>Evening (4:00-4:30PM)</td><td>1 cup fruit salad + 4 pc vegetable cutlets + green chutney</td></tr>
                <tr class="table"><td>Dinner (8:00-8:30PM)</td><td>1 cup karela vegetable + 3 chaptti + salad</td></tr>
            </tbody>
        </table>
    
        <br>
        
    </div>
</div>
<div >
    <h6>Underweight Diet Restrictions: Food Items To Limit</h6>
    <h7 >
        <ol><li>Whole Eggs. Once feared for being high in cholesterol, whole eggs have been making a comeback. ...</li>
        <li>Leafy Greens.</li>
        <li>Salmon.</li>
        <li>Cruciferous Vegetables</li>
        <li>Lean Beef and Chicken Breast</li>
        <li>Boiled Potatoes.</li>
        </ol>
    </h7>
</div>